* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  overflow-x: hidden;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #9ca3af;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* custom scroll css */
.custom-scroll-bar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(249, 200, 2);
}

.sticky {
  position: fixed;
  top: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-neutral-50: theme("colors.gray.50");
    --color-neutral-100: theme("colors.gray.100");
    --color-neutral-200: theme("colors.gray.200");
    --color-neutral-300: theme("colors.gray.300");
    --color-neutral-400: theme("colors.gray.400");
    --color-neutral-500: theme("colors.gray.500");
    --color-neutral-600: theme("colors.gray.600");
    --color-neutral-700: theme("colors.gray.700");
    --color-neutral-800: theme("colors.gray.800");
    --color-neutral-900: theme("colors.gray.900");

    --color-beer-yellow-100: rgb(249, 200, 2);
    --color-beer-yellow-200: rgb(247, 181, 12);
    --color-beer-yellow-300: rgb(245, 161, 22);
    --color-beer-yellow-400: rgb(243, 142, 15);
    --color-beer-yellow-500: rgb(241, 124, 9);
    --color-beer-yellow-600: rgb(233, 112, 13);
    --color-beer-yellow-700: rgb(228, 96, 17);
    --color-beer-yellow-800: rgb(221, 85, 21);
    --color-beer-yellow-900: rgb(213, 74, 25);

    --color-beer-orange-100: rgb(248, 147, 31);
    --color-beer-orange-200: rgb(247, 127, 26);
    --color-beer-orange-300: rgb(246, 107, 22);
    --color-beer-orange-400: rgb(244, 87, 15);
    --color-beer-orange-500: rgb(242, 67, 9);
    --color-beer-orange-600: rgb(236, 58, 13);
    --color-beer-orange-700: rgb(230, 48, 17);
    --color-beer-orange-800: rgb(223, 38, 21);
    --color-beer-orange-900: rgb(217, 27, 25);

    --color-beer-red-100: rgb(193, 39, 45);
    --color-beer-red-200: rgb(191, 31, 39);
    --color-beer-red-300: rgb(189, 23, 33);
    --color-beer-red-400: rgb(186, 15, 26);
    --color-beer-red-500: rgb(184, 3, 20);
    --color-beer-red-600: rgb(179, 10, 24);
    --color-beer-red-700: rgb(175, 1, 28);
    --color-beer-red-800: rgb(170, 6, 32);
    --color-beer-red-900: rgb(166, 0, 0);

    --color-beer-brown-100: rgb(92, 56, 54);
    --color-beer-brown-200: rgb(90, 52, 46);
    --color-beer-brown-300: rgb(87, 48, 38);
    --color-beer-brown-400: rgb(85, 44, 31);
    --color-beer-brown-500: rgb(82, 41, 23);
    --color-beer-brown-600: rgb(77, 45, 27);
    --color-beer-brown-700: rgb(73, 34, 31);
    --color-beer-brown-800: rgb(68, 39, 35);
    --color-beer-brown-900: rgb(64, 36, 27);

    --color-beer-tan-100: rgb(240, 214, 181);
    --color-beer-tan-200: rgb(236, 201, 163);
    --color-beer-tan-300: rgb(232, 189, 145);
    --color-beer-tan-400: rgb(228, 177, 126);
    --color-beer-tan-500: rgb(224, 165, 108);
    --color-beer-tan-600: rgb(220, 153, 90);
    --color-beer-tan-700: rgb(216, 141, 72);
    --color-beer-tan-800: rgb(212, 129, 54);
    --color-beer-tan-900: rgb(208, 117, 36);

    --color-beer-white-100: rgb(255, 255, 255);
    --color-beer-white-200: rgb(253, 253, 253);
    --color-beer-white-300: rgb(251, 251, 251);
    --color-beer-white-400: rgb(249, 249, 249);
    --color-beer-white-500: rgb(247, 247, 247);
    --color-beer-white-600: rgb(245, 245, 245);
    --color-beer-white-700: rgb(242, 242, 242);
    --color-beer-white-800: rgb(240, 240, 240);
    --color-beer-white-900: rgb(237, 237, 237);

    --info: theme("colors.sky.500");
    --info-light: theme("colors.sky.300");
    --info-dark: theme("colors.sky.700");

    --success: theme("colors.emerald.600");
    --success-light: theme("colors.emerald.400");
    --success-dark: theme("colors.emerald.800");

    --warning: theme("colors.orange.400");
    --warning-light: theme("colors.orange.200");
    --warning-dark: theme("colors.orange.600");

    --danger: theme("colors.rose.600");
    --danger-light: theme("colors.rose.400");
    --danger-dark: theme("colors.rose.800");

    --light: theme("colors.slate.300");
    --light-light: theme("colors.slate.100");
    --light-dark: theme("colors.slate.500");

    --dark: theme("colors.gray.900");
    --dark-light: theme("colors.gray.700");
    --dark-dark: theme("colors.gray.900");
  }
}

.theme-light {
  --neutral: var(--color-beer-white-300);
  --onNeutralBg: var(--color-neutral-900);
  --primary: var(--color-beer-yellow-400);
  --onPrimaryBg: var(--color-neutral-900);
  --primaryBg: var(--color-beer-yellow-100);
  --secondaryBg: var(--color-neutral-700);
}

.theme-dark {
  --neutral: var(--color-neutral-900);
  --onNeutralBg: var(--color-beer-white-500);
  --primary: var(--color-beer-yellow-400);
  --onPrimaryBg: var(--color-beer-white-900);
  --primaryBg: var(--color-beer-yellow-800);
  --secondaryBg: var(--color-neutral-300);
}
